<h2 class="center">Create a new course:</h2>

<form method="post" role="form" action="/courses/create">
<label for="inputTitle">Title</label>
<input type="text" name="title" id="inpuTitle" placeholder="title"
autofocus class="form-control">
<label for="inputDescription">description</label>
<textarea name="description" class="form-control" id="inputDescription"
   placeholder="Tell us about course!"></textarea>
<label for="cost">Cost</label>
<input type="text" name="cost" id="cost"
 placeholder="20 " required class="form-control">
<button type="submit" class="btn btn-primary btn-block">Create</button>
</form>
</div>